import /microtrust.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1
    mkdir /mnt/vendor/persist
    chmod 0777 /mnt/vendor/persist
    chown root:root /mnt/vendor/persist
    mount /dev/block/by-name/persist /mnt/vendor/persist
    export LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw
    start keystore2

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    # set charging free due to it wait for USB activation

on post-fs
    start boot-hal-1-1

    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymint-beanpod /vendor/bin/hw/android.hardware.security.keymint@1.0-service.beanpod
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start keymint-beanpod

on property:hwservicemanager.ready=true
    start keymint-beanpod
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymint-beanpod
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymint-beanpod
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymint-beanpod
    stop gatekeeper-1-0

on boot
    start health-hal-2-1
